<h1><%= article.title %></h1>
<h4>Published on <%= moment(article.createdAt).format("dddd, MMMM Do YYYY [at] h:mm:ss a") %> by <%= article.author %></h4> 
<h5>Last updated <%= moment(article.updatedAt).fromNow() %>.</h5>
<hr>
<p><%= article.content %></p>
<a href="/article/index">Go Back</a>
