 <h1>Articles</h1>
 <%if (currentUser) {%>
    <a href="/articles/index?showDrafts=true">Show Drafts</a> |  
    <a href="/articles/index?showDrafts=false">Hide Drafts</a> 
<%}%>
<% articles.forEach((article, index) => {%>
    <hr>
    <h3><%= article.title %><% if(!article.isPublished){%> (DRAFT)<%}%></h3>
    <h6>Length: <%= article.totalWords %> words. Last updated <%= moment(article.updatedAt).fromNow() %>.<br>
        <%if (currentUser) {%>
            <a href="/article/edit?id=<%= article.id %>">Edit</a> |  
            <a href="/article/delete?id=<%= article.id %>">Delete</a> 
        <%}%>
        <!-- Uncomment text above if using router.GET-->
        <!-- Uncomment text below if using router.DELETE (methodOverride)-->
        <!-- <div>
            <form method="POST" action="/article/edit?id=<%= article.id %>&_method=EDIT">
            <button type="submit">Edit</button>
            </form>
            <form method="POST" action="/article/delete?id=<%= article.id %>&_method=DELETE">
                <button type="submit">Delete</button>
            </form>
        </div> -->
    </h6>

    <p><%= article.description %></p>
    <a href="/article/detail?id=<%= article.id %>">Read Article</a>

<%})%>
